
input {
  border-radius: 0;
  border: 1px solid #CCCCCC;
  padding: 2px;
}

.clear {
  clear: both;
}

.page {
  padding-top: 10px;
  margin: 0 auto;
}

.header {
  height: 2.2em;
  font-size: 18px;
  margin-top: 4px;
  margin-left: 136px;
  vertical-align: middle;
}

.header .title {
  padding-top: 4px;
}

.logo {
  float: left;
  margin-right: 8px;
}

.content {
  clear: both;
  position: relative;
}

.nav {
  float: left;
  margin-right: 16px;
  margin-top: 0px;
  text-align: right;
  width: 120px;
}

.body {
  max-width: 80%;
  float: left;
  background: white no-repeat;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 0 3px #E1E1E3;
  -moz-box-shadow: 0 0 3px #e1e1e3;
  box-shadow: 0 0 3px #E1E1E3;  
  padding: 12px;
}

.action-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: whiteSmoke;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  margin-bottom: 8px;
  line-height: 25px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  outline: 0;
  color: #444;
}

.action-button a {
  color: #444;
}

.action-button:hover {
  background-color: #F8F8F8;
  border: 1px solid #C6C6C6;  
}

.action-button.blue {
  background-color: #1788D4;
  border: 1px solid transparent;
  color: white;
}

.action-button.blue:hover {
  background-color: #48C5FA;
  border: 1px solid #1788D4;
}

.action-button.red {
  background-color: #D14836;
  border: 1px solid transparent;
  color: white;
}

.action-button.red:hover {
  background-color: #C53727;
  border: 1px solid #B0281A;
}

.action-button.red a {
  color: white;
}

.meme-thumb {
  display: inline-block;
  margin: 4px;
  margin-top: 8px;
}

.meme-thumb .meme-details {
  margin: 0 8px;
  line-height: 10px;
  text-align: center;
}

.meme-thumb .meme-image {
  -webkit-box-shadow: 1px 1px 8px 1px #CCCCCC;
  -moz-box-shadow: 1px 1px 8px 1px #CCCCCC;
  box-shadow: 1px 1px 8px 1px #CCCCCC;
  max-height: 137px;
}

.meme-thumb .meme-author {
}

.meme-thumb .meme-score {
}

.meme {
  float: left;
}

.meme .meme-image {
  -webkit-box-shadow: 1px 1px 8px 1px #CCCCCC;
  -moz-box-shadow: 1px 1px 8px 1px #CCCCCC;
  box-shadow: 1px 1px 8px 1px #CCCCCC;
}

.meme-view .meme-details {
  float: left;
  margin-left: 10px;
  width: 200px;
}

.editor-canvas {
  float: left;
}

.editor-controls {
  margin: 10px;
  float: left;
  width: 200px;
}

.control {
  padding-bottom: 8px;
}