
.page {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 960px;
}

.nav {
  height: 2.5em;
}

.nav .left {
  float: left;
  margin-left: 8px;
  position: relative;
}

.nav .right {
  float: right;
}

.body {
  clear: both;
  background: white no-repeat;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 0 3px #E1E1E3;
  -moz-box-shadow: 0 0 3px #e1e1e3;
  box-shadow: 0 0 3px #E1E1E3;  
  padding: 8px;
}

.logo {
  position: absolute;
  left: 6px;
}

.create-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #D14836;
  background-image: -webkit-linear-gradient(top,#DD4B39 #D14836);
  background-image: -moz-linear-gradient(top,#DD4B39, #D14836);
  background-image: linear-gradient(top,#DD4B39, #D14836);
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}

.create-button:hover {
  background-color: #C53527;
  background-image: -webkit-linear-gradient(top, #DD4B39 #C53527);
  background-image: -moz-linear-gradient(top, #DD4B39, #C53527);
  background-image: linear-gradient(top, #DD4B39, #C53527);
  border: 1px solid #B0281A;
}

.create-button a {
  color: white;
  font-size: 11px;
  font-weight: bold;
  outline: 0;
}

.meme-thumb {
  display: inline-block;
  margin: 4px;
  margin-top: 8px;
}

.meme-thumb .meme-details {
  margin: 0 8px;
  line-height: 10px;
  text-align: center;
}

.meme-thumb .meme-image {
  -webkit-box-shadow: 1px 1px 8px 1px #CCCCCC;
  -moz-box-shadow: 1px 1px 8px 1px #CCCCCC;
  box-shadow: 1px 1px 8px 1px #CCCCCC;
  max-height: 137px;
}

.meme-thumb .meme-author {
}

.meme-thumb .meme-score {
}