<!DOCTYPE html>
<html>
  <head>
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/square.css">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title>Memegen</title>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <a href="/">
          <img class="logo" src="/images/logo.png">
        </a>
        <div class="title">
          <%block name="title">
            % if page_title is not UNDEFINED:
              ${page_title}
            % endif
          </%block>
        </div>
      </div>

      <div class="content">
        <div class="nav">
          <%block name="nav">
            <div class="id-create-meme action-button blue">
              CREATE MEME
            </div>
            <ul>
              <li><a href="/memes">Top Memes</a></li>
              <li><a href="/memes?order=recent">Recent Memes</a></li>
              <li><a href="/me">My Memes</a></li>
            </ul>
            <br>
            <p>
              <a class="help" href="/help">
                <img class="meme-image" style="width: 100px; height: 100px;"
                  src="http://memegenz.appspot.com/meme/image/rjgof?size=thumbnail">
              </a>
            </p>
          </%block>
        </div>

        <div class="body">
          ${self.body()}
        </div>
      </div>

      <div class="footer">
        <%block name="footer"/>
      </div>
    </div>
  </body>
</html>
