<!DOCTYPE html>
<html>
  <head>
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="header">
      <%block name="header">
        <h1>Memegen</h1>
      </%block>
    </div>

    <div class="leftnav">
      <%block name="leftnav">
        <ul>
          <li>Create Meme</li>
          <li>Top Memes</li>
          <li>Recent Memes</li>
          <li>My Memes</li>
          <li>Upload Template</li>
        </ul>
      </%block>
    </div>

    <div class="body">
      ${self.body()}
    </div>

    <div class="footer">
      <%block name="footer"/>
    </div>
  </body>
</html>
