<html>
  <body>
    <div class="header">
      <%block name="header">
        <h1>Memegen</h1>
      </%block>
    </div>

    <div class="leftnav">
      <%block name="leftnav">
        <ul>
          <li><a href="/templates">Create Meme</a></li>
          <li><a href="/memes">Top Memes</a></li>
          <li><a href="/memes?order=recent">Recent Memes</a></li>
          <li><a href="/me">My Memes</a></li>
          <li><a href="/template">Upload Meme Template</a></li>
        </ul>
      </%block>
    </div>

    <div class="body">
      ${self.body()}
    </div>

    <div class="footer">
      <%block name="footer"/>
    </div>
  </body>
</html>
