<%inherit file="base.html"/>

<h2>Create Meme</h2>

<div class="editor">
  <div class="editor-canvas">
    <canvas id="meme-canvas"></canvas>
  </div>
  <div class="editor-controls">
    <form action="/meme/image" enctype="multipart/form-data" method="post">
      <label>Top Text</label>
      <input type="text" name="editor-upper-text" id="editor-upper-text">

      <label>Bottom Text</label>
      <input type="text" name="editor-lower-text" id="editor-lower-text" >

      <input type="submit" id="editor-submit-button" value="Create Meme"/>
    </form>
  </div>
</div>
