<%inherit file="base.html"/>

<%block name="title">Create Meme</%block>

<div class="editor">
  <div class="editor-canvas">
    <canvas id="meme-canvas" style="border: 1px solid black;"></canvas>
  </div>
  <div class="editor-controls">
    <form id="create-meme-form" action="/meme/image" enctype="multipart/form-data" method="post">
      <div class="control">
        <label>Top Text</label>
        <input type="text" id="editor-upper-text"
            maxLength="100">
      </div>
      <div class="control">
        <label>Bottom Text</label>
        <input type="text" id="editor-lower-text"
            maxLength="100">
      </div>
      <div class="control">
        <input class="action-button id-create-meme-button" type="submit" value="Create Meme">
      </div>
    </form>
  </div>
</div>
