<%inherit file="base.html"/>

<%block name="title">Upload New Template</%block>

<form id="upload-template-form" action="/template/image" enctype="multipart/form-data" method="post">
  <div class="control">
    <label>Name</label>
    <br/>
    <input type="text" class="id-template-name-box" name="template_name" maxLength="20"/>
  </div>
  <div class="control">
    <label>Image</label>
    <br/>
    <input type="file" class="id-template-file-box" name="image_data"/>
  </div>
  <div class="control">
    <input class="action-button" type="submit" value="Upload Template">
  </div>
  <div class="control">
    <span class="id-error error"></span>
  </div>
</form>
