<%inherit file="base.html"/>

<%block name="title">Select a Meme Template</%block>

<a href="/template">
  <div class="action-button gray">
    Upload New Template
  </div>
</a>

<div class="clear"></div>

% for template in templates:
  <div class="meme-thumb">
    <a href="/meme?template_name=${template.name}">
      <img class="meme-image" src="/template/image/${template.name}?size=thumbnail">
    </a>
    <div class="meme-details">
      <span class="template-name">${template.name}</span>
    </div>
  </div>
% endfor
