<%inherit file="base.html"/>

<div class="meme-view">
  <div class="meme">
    <img class="meme-image" src="/meme/image/${meme.id}"
        width="${meme.width}" height="${meme.height}">
  </div>
  <div class="meme-details">
    <div class="meme-author">
      Created by
        <a href="/user/${meme.author}">${meme.author}</a>
      on <span class="id-timestamp">${meme.created_timestamp}</a>
    </div>
    <div class="meme-score">
      % if meme.score == 1:
        Has ${meme.score} vote.
      % else:
        Has ${meme.score} votes.
      % endif

      % if not meme.has_voted:
        <a href="/vote/${meme.id}">+1</a>
      % endif
    </div>
    <p>&nbsp;</p>
    <div class="action-button gray id-create-meme-from-template"
        data-id="${meme.template_name}">
      Create From Template
    </div>
    % if meme.is_owner:
      <div class="action-button red id-delete-meme" data-id="${meme.id}">
        Delete Meme
      </div>
    % endif
    <p>&nbsp;</p>
    <div>
      <a href="/memes?template_name=${meme.template_name}">
        More ${meme.template_name} memes
      </a>
    </div>
  </div>
</div>
