<%inherit file="base.html"/>

<%block name="title">What is this?</%block>

<p>
<strong>
  Memegen is an internal, Square-only accessible application that allows anyone to create a meme.
</strong>
</p>
<br>

<p>
  <strong>Steps to success:</strong>
  <ul>
    <li>1. <a href="/templates">Select</a> or <a href="/template">Upload</a> a Meme Template
    <li>2. Type something topical and funny
    <li>3. Share it with your peeps
    <li>4. Profit
</p>
<br>

<p>
  <strong>There are many more features in the works:</strong>
  <ul>
    <li>- Better +1 buttons (ability to unvote)
    <li>- Animated GIF support
    <li>- Vote email notifications
  </ul>
</p>
<br>

<p>
  <strong>Doesn't this exist at Google?</strong>
  <br>
  Yes. This is built from the ground-up for Square. And we can can take it wherever like.
</p>
<br>

<p>
  <strong>Can I contribute?</strong>
  <br>
  Yes! The code is all here: <a href="https://git.squareup.com/d/memegen">https://git.squareup.com/d/memegen</a>
</p>
<br>

<center>
  <a href="http://memegenz.appspot.com/meme/zzosy">
    <img src="http://memegenz.appspot.com/meme/image/zzosy">
  </a>
</center>

<br>
<p>
 <center>Email <a href="mailto:d@squareup.com">d@squareup.com</a> to send feedback or suggestions!</center>
</p>
