<%inherit file="base.html"/>

<%block name="title">What is this?</%block>

<p>
<strong>
  Memegen is an internal, Square-only accessible application that allows anyone to create a meme.
</strong>
</p>
<br>
<p>
  There are many more features in the works:
  <ul>
    <li>- Animated GIF support
    <li>- Email notifications
    <li>- Unlisted and anonymous memes
    <li>- Live stream of recent memes (for TSQ)</li>
  </ul>
</p>
<br>

<center>
  <a href="http://memegenz.appspot.com/meme/zzosy">
    <img src="http://memegenz.appspot.com/meme/image/zzosy">
  </a>
</center>

<br>
<p>
 <center>Email <a href="mailto:d@squareup.com">d@squareup.com</a> to send feedback or suggestions!</center>
</p>
