<%inherit file="base.html"/>

<%block name="title">What is this?</%block>

<p>
<strong>
  Memegen is an internal application that allows anyone to create a meme.
</strong>
</p>
<br>

<p>
  <strong>Steps to success:</strong>
  <ul>
    <li>1. <a href="/templates">Select</a> or <a href="/template">Upload</a> a Meme Template
    <li>2. Type something topical and funny
    <li>3. Share it with your peeps
    <li>4. Profit
</p>
<br>

<p>
  <strong>There are many more features in the works:</strong>
  <ul>
    <li>- Better +1 buttons (ability to unvote)
    <li>- Animated GIF support
    <li>- Vote email notifications
  </ul>
</p>
<br>

<br>

