<%inherit file="base.html"/>

<%def name="next()">
  % if cursor:
    <div style="text-align: right;">
      <a href="/memes?order=${order}&count=${count}&cursor=${cursor}">More Memes >></a>
    </div>
  % endif
</%def>

% for memes in date_buckets:
  % for meme in memes:
    % if loop.first:
      <div class="memes-date id-timestamp">${meme.created_timestamp}</div>
    % endif
    <div class="id-meme-thumb meme-thumb">
      <a href="/meme/${meme.id}">
        <img class="meme-image" src="/meme/image/${meme.id}?size=thumbnail">
        % if not meme.has_voted:
          <div class="action-button plusone id-plusone" data-id="${meme.id}">+1</div>
        % endif
      </a>
      <div class="meme-details">
        <span class="meme-score">+${meme.score}</span>
      </div>
    </div>
  % endfor
  <br/>
%endfor

<div class="clear"></div>

${next()}
